.progress-bar-item-1 .progress-bar-item2 {
    width: 85%
}

.progress-bar-item-3 {
    width: 70%;
}

.bg-image {
    background-image: url('/assets/images/cooked-fish-2.jpg');
}

.dessert-video {
    text-decoration: none;
}

.background-image {
    background-image: url('/assets/images/github-page-photo.png');
    background-size: cover;
    background-position: center;
    opacity: 0.01;
}

.form,
div,
label {
    border: 0;
    border-radius: 15%;
}